version: "3.8"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - appnet

  backend:
    build: ./backend
    env_file: .env.example
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - appnet
    volumes:
      - ./backend/app:/app/app

volumes:
  db_data:

networks:
  appnet:
    driver: bridge
